body {
    font-family: 'Roboto', sans-serif;
}

.logo {
    width: 100px;
    height: 50px;
    vertical-align: middle;
}

.text-center {
    text-align: center;
}

.header-top {
    height:  500px;
    background-image: url(../img/hero-bg.jpg);
    background-size: cover;
    background-position: 100% 30%;
    background-repeat: no-repeat;
    position: relative;
}

.header-top > .container {
    height: 50px;
    background-color: transparent;
    overflow: hidden;
    z-index: 2;
}

.header-menu {
    position: absolute;
    top:0;
    left: 0;
}

.opacity {
    height: 500px;
    background-color: #000;
    opacity: 0.5;
    z-index: 1;
}

.nav-bars {
    position: relative;
}

d-block {
    display: inline-block;
    height: 50px;
}

/*.nav-fl-dx {
    margin-left: 5%;
} */
.list-inline li {
    padding: 0 3%;
    display: inline-block;
}

.list-inline li a {
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    line-height: 50px;
    text-shadow: 1px 1px #000;
    font-weight: bold;
}

#login {
    text-transform: lowercase;
    font-size: 20px;
    color: #fff;
    line-height: 50px;
}

.login {
    padding: 10px 15px;
    background-color: #000;
}

.h-icon {
    position: absolute;
    top: 0;
    right: 3%;
    display: none;
}

.hamb-icon {
    float: right;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
}

/*.hero {
  position: relative;
  height: 625px;
  background-image: url('../img/hero-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}*/

.slogan {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
}

.slogan h1, .slogan h2 {
    text-align: center;
    color: #fff;
}

.slogan h1 {
    font-size: 50px;
    margin: 30px 0 30px;
}

.slogan h2 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 40px;
}

.btn-download {
    float: left;
    background-color: transparent;
    margin: auto;   
}

.btn-download img {
    height: 50px;
    margin: auto;
}

.container-veicoli {
    margin: 70px 0 70px;
}

.helbizgo, .helbizbike {
    height: 650px;
    background-color: #FAFAFA;
    padding: 90px 10px 40px;
    overflow: hidden;
}

.helbizgo h3, .helbizbike h3 {
    margin: 40px 0 40px;
}

.helbizgo a, .helbizbike a {
    font-size: 22px;
    text-decoration: none;
    color: #009CDD;
}

.nome-veicolo {
    height: 20px;
}

.veicoli {
    height: 350px;
}

.app {
    height: 700px;
}

.app-img {
    height: 100%;
    background-image: url(../img/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 100%;
}

.smart-mob {
    height: 450px;
    margin: 70px 0 70px;
    background-color: green;
}


